Repository RebeccaStevens/issue-closed-labeler-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json "**/*.{md,ts}"

chore: override types for some global objects
  typings/es.d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json "**/*.{md,ts}"

feat: initial version of action
  action.yml
  dist/index.js
  src/fetch.ts
  src/index.ts
  src/rules/evaluate.ts
  src/rules/index.ts
  src/rules/input.ts
  src/rules/parse.ts
  src/rules/typeguard.ts
  src/rules/types.ts
  src/typeguards.ts
  src/types/data.ts
  src/types/index.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/rules/find-passing-rule.test.ts
  tests/utils/to-postfix.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json "**/*.{md,ts}"

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json "**/*.{md,ts}"

Notes added by 'git notes add'
  1a5c254d470e70cd21ed3bc9a89284315b97327f
Due: none

ci: fix coverage by using c8 instead of nyc
  .c8rc.json
  .gitignore
  .nycrc
  package.json
  yarn.lock
Due: none

ci: auto create latest and major version tags on release
  .github/workflows/release.yml
Due: prettier --write

fix: GITHUB_TOKEN no longer required
  action.yml
  dist/index.js
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json "**/*.{md,ts}"

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json "**/*.{md,ts}"

Notes added by 'git notes add'
  d2582a126197a176bd0934f575633289806a3e48
Due: none

ci: fix creating latest and major version tags on release
  .github/workflows/release.yml
  .github/workflows/versioning.yml
Due: prettier --write

docs: write readme
  .cspell.json
  README.md
Due: prettier --write, cspell --config=.cspell.json "**/*.{md,ts}"

chore: rename project
  CHANGELOG.md
  README.md
  action.yml
  package.json
Due: prettier --write, cspell --config=.cspell.json "**/*.{md,ts}"

docs: fix spelling mistake
  README.md
Due: prettier --write, cspell --config=.cspell.json "**/*.{md,ts}"

ci: update release rules
  .releaserc
  dist/index.js
Due: none

chore: switch to renovate
  .github/dependabot.yml
  .github/labels.yml
  .github/renovate.json
  .github/workflows/dependabot-automerge.yml
Due: prettier --write

build: update yarn
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

build: remove eslint-plugin-eslint-plugin
  package.json
  yarn.lock
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  dist/index.js
Due: prettier --write, cspell --config=.cspell.json "**/*.{md,ts}"

Notes added by 'git notes add'
  5c60d28e7ae71c142f188382b78731e339ef2878
Due: none

chore: update renovate rules
  .github/renovate.json
  dist/index.js
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json "**/*.{md,ts}": any of: ./**/*.{ts,md}
